<div class="my-overlay">
    <nav class="my-navigator">
        <!--Añadir flat icon-->
        <ul class="my-links">
            <li class="my-link my-link-icon my-instagram">
                <a href="https://www.instagram.com/megumingas/" target="_blank">I</a>
            </li>
            <li class="my-link my-link-icon my-facebook">
                <a href="https://www.pixiv.net/en/users/33920549" target="_blank">F</a>
            </li>
            <li class="my-link my-link-icon my-whatsapp">
                <a href="https://www.pixiv.net/en/users/33920549" target="_blank">W</a>
            </li>
            <li class="my-link my-link-icon my-twitter">
                <a href="https://twitter.com/megumingas" target="_blank">T</a>
            </li>
            <!-- LINKS DE NAVEGACIÓN -->
            <li class="my-link my-link-text my-blog">
                <a routerLink="/blog" routerLinkActive="activebutton">Blog</a>
            </li>
            <li class="my-link my-separator">-</li>
            <li class="my-link my-link-text my-about">
                <a routerLink="/about-me" routerLinkActive="activebutton">¿Quién Soy?</a>
            </li>
            <li class="my-link my-separator">-</li>
            <li class="my-link my-link-text my-work">
                <a routerLink="/works" routerLinkActive="activebutton">Trabajos</a>
            </li>
            <li class="my-link my-separator">-</li>
            <li class="my-link my-link-text my-contact">
                <a routerLink="/contact" routerLinkActive="activebutton">Contacto</a>
            </li>

        </ul>
    </nav>
</div>