/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb');

*{
    font-family: 'Berlin Sans FB', sans-serif !important;
}

*::-webkit-scrollbar{
    display: none;
}

*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.my-container{
    width:calc(100vw - 167px);
    height: 100vh;
}

.my-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.my-wrapper{
    max-width: 651px;
    min-width: 651px;
    max-height: 379px;
    min-height: 379px;
    overflow-y: scroll;
    z-index: 5;
}

.my-w-fit{
    width: max-content;
}

.my-h-fit{
    height: max-content;
}

@media screen and (max-width: 991px) {
    .my-container{
        width: 100vw;
        height: calc(100vh - 84px);
    }

    .my-overlay {
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .my-wrapper{
        max-width: 288px;
        min-width: 288px;
        max-height: 625px;
        min-height: 607px;
    }
}